<!DOCTYPE html>
<html>
<head>
  <title>Rumoron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "Rumorson","", class:"btn btn-lg btn-success", id:"logo"%>
    <%= link_to "Post a Rumor","",class:"navbar-link navbar-right nav-text-link", id:"post"%>
    <%= link_to "Privacy Policy","",class:"navbar-link navbar-right nav-text-link", id:"privacy"%>
    
    
  </div>
</header>
<%= yield %>
<div class=footer>
  <p> &copy; Rumorson.com</p>
  </div>
</body>
</html>
